body {
  font-family: 'Roboto';
  background-color: #fff;
}

.navbar-a {
  height: 75px;
}

.navbar-a .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
}

.text {
  border-left: 2px solid #e5e5e5;
  padding-left: 10px;
  font-weight: 700;
}

.text p {
  line-height: 75px;
}

.menu-link a {
  color: #11346A !important;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-link a:last-child {
  cursor: pointer;
}

.menu-link a:not(:last-child) {
  margin-top: 22px;
}

.menu-link a:hover {
  color: #FFBE00 !important;
}

.text-content h1 {
  font-weight: 900;
  font-size: 36px;
}

.text-content p {
  font-size: 18px;
}

.text-content span {
  font-weight: 700;
}

.klik-baca {
  width: 120px;
  background: #FFBE00;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
}

.klik-baca:hover {
  width: 120px;
  background: #005973;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
}

.klik-baca a {
  text-decoration: none;
  color: white;
}

.img-bohim {
  margin-top: -50px;
}

.logo-text {
  border-left: 1px solid #e5e5e5;
}

.break-place {
  margin-top: -30px;
}

.break {
  border: 2px solid #FFBE00;
  width: 100px;
  border-radius: 5px;
}

.badge-card {
  border-radius: 0;
  padding: 8px;
  color: #87C1FF;
  background: #EBF5FF;
  font-size: 0.8em;
}

.title-berita span {
  font-weight: 700;
  font-size: 18px;
}

.card-text {
  font-size: 14px;
  text-align: justify;
}

.author {
  font-size: 12px;
  color: #AFB0A5;
}

.link-read a {
  text-decoration: none;
  color: #FFBE00;
  font-size: 12px;
}

.link-read p {
  font-size: 12px;
  color: #AFB0A5;
}

.klik-lihat {
  width: 120px;
  background: #FFBE00;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  margin: 35px auto 0 auto;
  font-size: 12px;
}

.klik-lihat:hover {
  width: 120px;
  background: #005973;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
}

.klik-lihat a {
  text-decoration: none;
  color: white;
}

.footer {
  margin-top: 200px;
}

.link-footer a {
  text-decoration: none;
  color: #005973;
}

.bg-login {
  background-image: url("../images/bg-login.png");
  height: 100vh;
}

.bg-login .card-login {
  margin: auto;
  width: 18rem;
  top: 25%;
  border-radius: 20px;
}

.bg-login .card-login .card-body input {
  border-radius: 20px;
  background-color: #ccc;
}

.bg-login .btn-login {
  background-color: #689AA9;
  padding: 8px 73px !important;
  border-radius: 48px;
  text-transform: uppercase;
}

.bg-login .btn-login:hover {
  background-color: rgba(0, 57, 75, 0.863);
  padding: 8px 73px !important;
  border-radius: 48px;
  color: white;
}

#app {
  position: relative;
}

.navbar-header {
  z-index: 1 !important;
  background-color: #1A5B6D;
}

.navbar-header .navbar-nav .dropdown a {
  color: white;
}

.avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.avatar .avatar-content {
  width: 32px;
  height: 32px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
}

.avatar .avatar-content svg, .avatar .avatar-content i {
  color: #fff;
  font-size: 1rem;
  height: 1rem;
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatar .avatar-status {
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  bottom: 0;
  right: 0;
}

.avatar.avatar-sm .avatar-content, .avatar.avatar-sm img {
  width: 24px;
  height: 24px;
  font-size: 0.8rem;
}

.avatar.avatar-lg .avatar-content, .avatar.avatar-lg img {
  width: 48px;
  height: 48px;
  font-size: 1.2rem;
}

.avatar.avatar-xl .avatar-content, .avatar.avatar-xl img {
  width: 60px;
  height: 60px;
  font-size: 1.4rem;
}

/** 2.11 Sidebar **/
#sidebar.active .sidebar-wrapper {
  left: 0;
}

#sidebar:not(.active) ~ #main {
  margin-left: 0;
}

.sidebar-wrapper {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #EDECEC;
  bottom: 0;
  border-right: 1px solid #eee;
  -webkit-box-shadow: 0 0 10px #ececec;
          box-shadow: 0 0 10px #ececec;
  left: -260px;
  -webkit-transition: left 0.6s ease-out;
  transition: left 0.6s ease-out;
}

.sidebar-wrapper .sidebar-header {
  padding: 2rem 2rem 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.sidebar-wrapper .sidebar-header img {
  height: 2.5rem;
}

.sidebar-wrapper .sidebar-toggler.x {
  position: absolute;
  right: 0;
  top: 0.5rem;
  display: none;
}

.sidebar-wrapper .menu {
  padding-left: 0;
  margin-top: 2rem;
}

.sidebar-wrapper .menu .menu-sidebar-item {
  margin-top: 50% !important;
}

.sidebar-wrapper .menu .sidebar-title {
  padding: 1.5rem 1.8rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
}

.sidebar-wrapper .menu .sidebar-link {
  display: block;
  padding: 0.7rem 1.5rem;
  font-size: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-wrapper .menu .sidebar-link:hover span {
  opacity: 1;
}

.sidebar-wrapper .menu .sidebar-link > span {
  color: black;
  font-weight: 500;
  margin-left: 1rem;
  opacity: 0.8;
}

.sidebar-wrapper .menu .sidebar-item {
  list-style: none;
  margin-top: 0.5rem;
  position: relative;
}

.sidebar-wrapper .menu .sidebar-item a:hover {
  text-decoration: none;
}

.sidebar-wrapper .menu .sidebar-item.has-sub .sidebar-link:after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9" style="fill:none;stroke:gray;stroke-width:1"></polyline></svg>');
  position: absolute;
  color: #ccc;
  right: 15px;
  top: 12px;
  display: block;
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(26, 91, 109, 0.7)), to(rgba(255, 255, 255, 0))) !important;
  background-image: linear-gradient(90deg, rgba(26, 91, 109, 0.7) 0%, rgba(255, 255, 255, 0) 100%) !important;
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link:before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(26, 91, 109, 0.5);
  width: 5px;
}

.sidebar-wrapper .menu .submenu {
  list-style: none;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.sidebar-wrapper .menu .submenu.active {
  max-height: 500px;
}

.sidebar-wrapper .menu .submenu li a {
  padding: 0.7rem 3rem;
  display: block;
  color: #676767;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.sidebar-wrapper .menu .submenu li a:hover {
  margin-left: 0.3rem;
}

@media screen and (max-width: 767px) {
  .sidebar-wrapper {
    left: -270px;
  }
  .sidebar-wrapper .sidebar-toggler.x {
    display: block;
  }
}

#main {
  margin-left: 260px;
  -webkit-transition: margin-left 0.6s ease-out;
  transition: margin-left 0.6s ease-out;
  margin-top: 48px !important;
}

#main .card-tabs-stack {
  background-color: #689AA9;
}

#main div.card-tabs-bar {
  margin: 100px auto auto auto;
  background: white;
}

#main div.card-tabs-bar a.active {
  background: #689AA9 !important;
  padding: 10px 20px;
  border: none !important;
  border-radius: 10px;
  font-weight: 500;
}

#main .card-list a:hover {
  text-decoration: none;
}

#main .card-list a .card-panel {
  margin: 20px auto;
  padding: 10px;
  background-color: #005973;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .card-list a .card-panel p {
  margin-bottom: 0;
}

#main .card-input {
  width: 90%;
  margin: 50px auto;
  border: 2px solid #005973;
  border-radius: 10px;
}

#main .btn-cta {
  background-color: #005973;
  color: white;
  float: right;
  border-radius: 15px;
  padding: 5px 20px;
}

#main .card-materi {
  width: 95%;
  padding: 30px;
  margin: 20px auto;
}

div.card-tabs-stack div[data-tab] {
  padding: 10px 0 !important;
}
/*# sourceMappingURL=style.css.map */